body { 
    font-family: sans-serif; 
    text-align: center; 
    background-color: #121212; 
    color: #fff; 
} 

#albumArtContainer { 
    margin-top: 20px; 
} 

#albumArt {

  max-width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
  opacity: 0.75;
  transition: opacity 0.5s ease-in;
}

#albumArt.loaded {
  opacity: 1;
}
